/* @import url('https://fonts.googleapis.com/css?family=Kalam&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Manrope|Open+Sans|Raleway&display=swap');

nav {
    flex: 1;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px 0;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    /* box-shadow: 1px 1px 1px .3px #CECECE; */
    width: 100%;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 34px;
    letter-spacing: 3px;
    flex: 1;
    max-width: 30vw;
    transition: 250ms all;
}

.logo:hover {
    transform: scale(1.004);
    transition: all 0.5s ease-in;
    color: #9CABA6;
}

.links {
    flex: 2;
    max-width: 60vw;
    align-items: center;
    font-size: 18px;
    display: flex;
}

.link {
    flex: 1;
}

.welcome {
    padding: 0 100px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition: all 0.5s ease-in;
    color: #9CABA6;
    opacity: .5;
}

@media (max-width: 500px) {
    nav {
        display: unset;
        width: 98%;        
        justify-content: space-between;
    }
    .logo {
        display:unset;
        max-width: 30%;
        margin-left: 30px;
        font-size: 25px;
    }

    a.logo.active {
        margin-right: 150px;
    }


    .links {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 50vw;
        font-size: 18px;
    }
    .link {
        padding: 3px;
        margin-left:10%;
    }
}