@import url('https://fonts.googleapis.com/css?family=Manrope|Raleway&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

h1.meet {
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 500px) {
    .home {
        padding: 100px 40px;
    }
}