.product-detail {
    display: flex;
    padding: 50px;
    /* background-color: #000; */
    color: #C7CDC7;
    border: none;
    box-shadow: 2px 2px 10px 10px #738A8A;
}

body {
    background-color: #000;
}

.detail {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    background-color: #2F4858;
    padding: 50px;
}

.name {
    font-size: 64px;
    letter-spacing: 1px;
    padding: 5px;
}

.price,
.description {
    font-size: 28px;
}

.description {
    padding: 10px;
    letter-spacing: .9px;
}

.product-detail-image {
    width: 500px;
    padding: 0 40px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}
@import url('https://fonts.googleapis.com/css?family=Manrope|Raleway&display=swap');
.edit-button, .delete-button {
    font-size: 22px;
    font-family: 'Manrope', 'Raleway', sans-serif;
    text-align: center;
    height: 40px;
    width: 50%;
    align-self: center;
    margin-top: 40px;
    /* background-color: black; */
    color:#C7CDC7;
    cursor: pointer;
}
  
  .button:hover {
    /* The following line makes the underline only as wide as the text */
    /* background-size: calc(100% - 2em) 5px, auto; */
    background-size: 100% 5px, auto;
  }

.edit-link {
    color: #C7CDC7;
}

@media (max-width: 1024px) {
    .name {
        font-size: 32px;
    }
    .product-detail-image {
        width: 500px;
        margin-top: -100px;
        padding: 10px;
    }
    .product-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .product-detail-image {
        width: 300px;
        margin: 15px;
        padding: 10px;
    }
    .product-detail {
        padding: 0px;
        padding-top: 120px;
        /* margin: 0px; */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    .button-container {
        /* display: flex;
        justify-content: space-evenly;
        padding-top: 0px; */
        padding: 20px;
        padding-bottom: 80px;
    }
    .edit-button, .delete-button {
        width: 40%;
    }
}