.search-form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
    width: 50vw;
    font-size: 18px;
    letter-spacing: 0.1px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 40px;
    opacity: .8;
}

.search-input::placeholder {
  letter-spacing: .3px;
}