@import url('https://fonts.googleapis.com/css?family=Manrope|Open+Sans|Raleway&display=swap');

.splash{
  color:white;
  font-family: 'Raleway', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.splashImage {
  background-image: url("https://i.pinimg.com/originals/24/0e/7f/240e7f147e24826d3e151acfa72309a8.gif");
  opacity: .2;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.splash-text{
  font-size: 4em;
}

.splash-but{
  margin-top: 20px;
  background-color: transparent;
  color:white;
  border:1px solid white;
  padding:20px 40px 20px 40px;
  transition-duration: 0.5s;
}
.splash-but:hover{
  background-color: white;
  color:black;
}